@{
  ViewData["Title"] = "Checkout";
}

@model PizzaBox.Client.Models.OrderModel

<section class="container-fluid row justify-content-center">
  @{
    var order = Model.CompleteOrder;
  }
  <p>@order.Customer.Name, your order is as follows,</p>
  <p>Store: @order.Store.Name</p>
  <p>Order Time: @order.orderTime</p>
  <p>Pizzas:</p>
  @foreach (var pizza in order.Pizzas)
  {
    <ul>
      <li><span class="order-property">Pizza Type: </span>@pizza.Type</li>
      <li><span class="order-property">Pizza Size: </span>@pizza.Size</li>
      <li><span class="order-property">Pizza Crust: </span>@pizza.Crust</li>
      <li><span class="order-property">Toppings:</span>
        <ol>
          @foreach (var topping in pizza.Toppings)
          {
            <li>@topping.Name</li>
          }
        </ol>
      </li>
      <li><span class="order-property">Pizza Total: </span>@pizza.TotalCost.ToString("F")</li>
    </ul>
    <br>
  }
  <hr>
  <h3>Grand Total: @order.TotalCost.ToString("F")</h3>
</section>